<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{fragments/general.html :: headerfiles(title='Student create')}"></th:block>
<body>
    <form action="#" th:action="@{/api/students/create}" method="post">
        <label for="first_name">First name</label>
        <input type="text" name="first_name" id="first_name" placeholder="Enter new first name" oninput="validateLength(1, 'first_name')"/>
        <label for="last_name">Last name</label>
        <input type="text" name="last_name" id="last_name" placeholder="Enter new last name" oninput="validateLength(1, 'last_name')"/>
        <label for="group_id">Group ID</label>
        <input type="number" name="group_id" id="group_id" oninput="validateId('group_id')"/>
        <button class="btn btn-success" id="submit-btn" type="submit">Submit</button>
    </form>
    <span id="error-msg" style="color:red" hidden>First and last names should be at least 1 symbol length</span>
    <script th:replace="~{fragments/general.html :: validateLength}"></script>
    <script th:replace="~{fragments/general.html :: validateId}"></script>
    <script>
        validateLength(1, 'first_name')
        validateLength(1, 'last_name')
    </script>
</body>
</html>