<!DOCTYPE html>
<html lang="en">
<th:block th:replace="fragments/general.html :: headerfiles(title='Students')"></th:block>
<body>
  <div th:switch="${students}">
    <h2 th:case="${#lists.size(students) == 0}">
      No students found!
    </h2>
    <div th:case="*">
      <header th:replace="fragments/general.html :: header (entityName = 'Students')"></header>
      <table class="table">
        <thead class="table-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Group ID</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student: ${students}">
          <td th:text="${student.getId()}"></td>
          <td th:text="${student.getGroup() != null ? student.getGroup().getId() : 'No group' }"></td>
          <td th:text="${student.getFirstName()}"></td>
          <td th:text="${student.getLastName()}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>