<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{fragments/general.html :: headerfiles(title='Change password')}"></th:block>
<body>
    <form action="#" th:action="@{/admin/passwordUpdate}" method="post">
        <label for="username">Username</label>
        <input readonly type="text" name="username" id="username" th:value="${username}"/>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="Enter new password" th:value="${password}" oninput="checkPasswordLength()"/>
        <button class="btn btn-success" id="submit-btn" type="submit">Submit</button>
    </form>
    <span id="error-msg" style="color:red" hidden>Password should be at least 8 symbols length</span>
    <script th:replace="~{fragments/general.html :: checkPass}"></script>
</body>
</html>