<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{fragments/general.html :: headerfiles(title='Subject create')}"></th:block>
<body>
  <form action="#" th:action="@{/api/subjects/create}" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Enter name" oninput="validateLength(1, 'name')"/>
    <button class="btn btn-success" id="submit-btn" type="submit">Submit</button>
  </form>
  <span id="error-msg" style="color:red" hidden>Name should be at least 1 symbol length</span>
  <script th:replace="~{fragments/general.html :: validateLength}"></script>
</body>
</html>