<!DOCTYPE html>
<html lang="en">
<th:block th:replace="fragments/general.html :: headerfiles(title='Groups')"></th:block>
<body th:onload="'openClose('studentDetails_')'">
<div th:switch="${groups}">
  <h2 th:case="${#lists.size(groups) == 0}">
    No groups found!
  </h2>
  <div th:case="*">
    <header th:replace="~{fragments/general.html :: header (entityName = 'Groups')}"></header>
    <table class="table">
      <thead class="table-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Faculty ID</th>
        <th scope="col">Name</th>
        <th scope="col">Students</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="group: ${groups}">
        <td th:text="${group.getId()}"></td>
        <td th:text="${group.getFaculty() != null ? group.getFaculty().getId() : 'No faculty'}"></td>
        <td th:text="${group.getName()}"></td>
        <td>
          <details th:id="'studentDetails_' + ${group.getStudents()}">
            <summary>Click to show</summary>
            <div th:each="student : ${group.getStudents()}" th:text="${student.getFirstName()} + ' ' + ${student.getLastName()}"></div>
          </details>
        </td>
        <td><a th:href="@{groups/update/{id}(id=${group.getId()})}" class="btn btn-secondary" role="button">Edit</a></td>
        <td><a th:href="@{groups/delete/{id}(id=${group.getId()})}" class="btn btn-secondary" role="button">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<th:block th:replace="fragments/general.html :: detailsScript"></th:block>
<script th:inline="javascript">
  openClose("studentDetails_")
</script>
</body>
</html>