<!DOCTYPE html>
<html lang="en">
<th:block th:replace="fragments/general.html :: headerfiles(title='Teachers')"></th:block>
<body>
<div th:switch="${teachers}">
    <h2 th:case="${#lists.size(teachers) == 0}">
        No teachers found!
    </h2>
    <div th:case="*">
        <header th:replace="fragments/general.html :: header (entityName = 'Teachers')"></header>
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col"> </th>
                <th scope="col"> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher: ${teachers}">
                <td th:text="${teacher.getId()}"></td>
                <td th:text="${teacher.getSubject() != null ? teacher.getSubject().getId() : 'No subject'}"></td>
                <td th:text="${teacher.getFirstName()}"></td>
                <td th:text="${teacher.getLastName()}"></td>
                <td><a th:href="@{teachers/update/{id}(id=${teacher.getId()})}" class="btn btn-secondary" role="button">Edit</a></td>
                <td><a th:href="@{teachers/delete/{id}(id=${teacher.getId()})}" class="btn btn-secondary" role="button">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>