<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}"></title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
<header class="row" th:fragment="header(entityName)">
    <div style="display: flex; flex-direction: row; justify-content: space-between">
        <div>
            <h2 th:text="${entityName}"></h2>
        </div>
        <div>
            <a id="currentUrl" href="#" class="btn btn-primary" role="button">Create</a>
            <script>
                const currentUrl = window.location.href;
                document.getElementById("currentUrl").href = currentUrl + "/signup";
            </script>
        </div>
        <div>
            <a th:href="@{/}" class="btn btn-primary" role="button">Home page</a>
        </div>
    </div>
</header>
<script th:fragment="detailsScript" th:inline="javascript">
    function openClose(queryId) {
        const detailsList = document.querySelectorAll(`[id^="${queryId}"]`);
        detailsList.forEach(details => {
            const summary = details.querySelector('summary');
            details.addEventListener('toggle', function() {
                if (details.open) {
                    summary.textContent = 'Click to hide';
                } else {
                    summary.textContent = 'Click to show';
                }
            });
        });
    }
</script>
</body>
</html>