<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="fragments/general.html :: headerfiles(title='Home page')"></th:block>
<body>
    <div style="display: flex; flex-direction: row; justify-content: space-between">
        <h2 th:text="'Welcome to ' + ${appName} + '!'"/>
        <a th:if="${isAdmin == true}"  th:href="@{admin}" class="btn btn-warning btn-lg" role="button">Admin panel</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-danger" value="Sign Out"/>
        </form>
    </div>
    <br>
    <div>
        <h3>Choose the unit to manage:</h3>
        <table>
            <tbody>
                <tr>
                    <td><a th:href="@{api/audiences}" class="btn btn-primary btn-lg" role="button" >Audiences</a></td>
                    <td><a th:href="@{api/faculties}" class="btn btn-primary btn-lg" role="button" >Faculties</a></td>
                    <td><a th:href="@{api/groups}" class="btn btn-primary btn-lg" role="button" >Groups</a></td>
                    <td><a th:href="@{api/students}" class="btn btn-primary btn-lg" role="button" >Students</a></td>
                    <td><a th:href="@{api/subjects}" class="btn btn-primary btn-lg" role="button" >Subjects</a></td>
                    <td><a th:href="@{api/teachers}" class="btn btn-primary btn-lg" role="button" >Teachers</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>