<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Faculties</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div th:switch="${teachers}">
    <h2 th:case="${#lists.size(teachers) == 0}">
        No teachers found!
    </h2>
    <div th:case="*">
        <div class="row">
            <div class="col-md-6">
                <h2>Teachers</h2>
            </div>
            <div class="col-md-6 text-end">
                <a th:href="@{/}" class="btn btn-primary" role="button">Home page</a>
            </div>
        </div>
        <table class="table">
            <thead class="table-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher: ${teachers}">
                <td th:text="${teacher.getId()}"></td>
                <td th:text="${teacher.getSubject() != null ? teacher.getSubject().getId() : 'No subject'}"></td>
                <td th:text="${teacher.getFirstName()}"></td>
                <td th:text="${teacher.getLastName()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>