<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{fragments/general.html ::headerfiles(title='Create audience')}"></th:block>
<body>
  <form action="#" th:action="@{/api/audiences/create}" method="post">
    <label for="floor">Floor</label>
    <input type="number" name="floor" id="floor" placeholder="Floor number" value="0" onblur="validateId('floor')"/>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
  <script th:replace="~{fragments/general.html :: validateId}"></script>
</body>
</html>