<!doctype html>
<html lang="en">
<th:block th:replace="fragments/general.html :: headerfiles(title='Audiences')"></th:block>
<body>
    <div th:switch="${audiences}">
        <h2 th:case="${#lists.size(audiences) == 0}">
            No audiences found!
        </h2>
        <div th:case="*">
            <header th:replace="fragments/general.html :: header (entityName = 'Audiences')"></header>
            <table class="table">
                <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Floor</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="audience: ${audiences}">
                    <td th:text="${audience.getId()}"></td>
                    <td th:text="${audience.getFloor()}"></td>
                    <td><a th:href="@{audiences/update/{id}(id=${audience.getId()})}" class="btn btn-secondary" role="button">Edit</a></td>
                    <td><a th:href="@{audiences/delete/{id}(id=${audience.getId()})}" class="btn btn-secondary" role="button">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>