<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{fragments/general.html :: headerfiles(title='Update audience')}"></th:block>
<body>
  <form action="#" th:action="@{/api/audiences/update}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" name="id" id="id" th:value="${id}"/>
    <label for="floor">Floor</label>
    <input type="number" name="floor" id="floor" placeholder="Floor number" value="0" onblur="validateId('floor')"/>
    <button class="btn btn-success" id="submit-btn" type="submit">Submit</button>
  </form>
  <script th:replace="~{fragments/general.html :: validateId}"></script>
</body>
</html>